{% extends "layout/dashboard-base-admin.twig" %}

{% block content %}

<div class="flex flex-col">

    <h2>Groups</h2>

    <div class="my-4">
        <a class="button" href="{{ url_for('admin-create-group') }}">Create Group</a>
    </div>

    {% if groups is defined %}
        <ul class="list-decimal list-inside">
            {% for group in groups %}
                <li class="hover:underline">
                    <a href={{ url_for('admin-group', { 'groupId': group.groupId }) }}> {{ group.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

</div>

{% endblock %}