{% extends "layout/dashboard-base-admin.twig" %}

{% block content %}

<div class="flex flex-col">

    <h2>Users</h2>

    {% if users is defined %}
        <ul class="list-decimal list-inside">
            {% for user in users %}
                <li class="hover:underline">
                    <a href={{ url_for('user', { 'userId': user.userId }) }}> {{ user.email }} </a> |
                    {{ user.status }} |
                    {{ user.role }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

</div>

{% endblock %}