<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="description" content="Score Prediction with Friends!"/>
    <meta name="keywords" content="tar, heel, tar heel, sports, score, football, predict"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Score Prediction With Friends</title>
    <link rel='shortcut icon' type='image/x-icon' href='{{ url_for('home') }}favicon.ico'/>
    {% if prodMode() %}
        <link href="{{ url_for('home') }}css/tailwind.min.css" rel="stylesheet">
    {% else %}
        <link href="{{ url_for('home') }}css/tailwind.css" rel="stylesheet">
    {% endif %}
</head>

<body class="bg-white text-lg">

    {% block base %}{% endblock %}

    {% block javascript %}{% endblock %}

</body>

</html>
