{% extends "layout/dashboard-base-normal.twig" %}

{% block content %}

<div class="flex flex-col">
    <h2>Welcome to Tar Heel Tailgate!</h2>

    {% if groups is defined and groups is empty %}
        <p>To get started, create a group or join a group using an invite code.</p>
    {% endif %}

    <div class="flex">
        <a class="button" href="{{ url_for('create-group') }}">Create Group</a>
        {# <a class="button" href="{{ url_for('invite-code') }}">Join a Group with an Invite Code</a> #}
    </div>
</div>

{# list all groups user is part of #}
{% if groups is defined and groups is not empty %}

    <div class="flex flex-col mt-4">

        <h3>Groups</h3>

        <ul class="list-disc list-inside">
            {% for group in groups %}
                <li><a class="hover:underline" href={{ url_for('group', { 'groupId': group.groupId }) }}> {{ group.name }}</a></li>
            {% endfor %}
        </ul>

    </div>

{% endif %}

{% endblock %}