{% extends isSignedIn() ? "layout/dashboard-base-normal.twig" : "layout/index-base.twig" %}

{% block content %}

<div class="flex flex-col text-black p-4">

    <h1>{{ title|raw }}</h1>

    {{ message|raw }}

</div>

{% endblock %}