{% extends "layout/dashboard-base-admin.twig" %}

{% block content %}

<div class="flex flex-col">

    <h2>Teams</h2>

    <div class="flex my-4">
        <a class="button" href="{{ url_for('add-team') }}">Create Team</a>
    </div>

    {% if teams is defined %}
        <ul class="list-decimal list-inside">
            {% for team in teams %}
                <li class="hover:underline">
                    <a href={{ url_for('team', { 'teamId': team.teamId }) }}> {{ team.designation }} {{ team.mascot }} </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

</div>

{% endblock %}